.about-section {
  flex: 9;
  margin-top: 12px;
  margin-left: 5px;
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

@media only screen and (max-width: 690px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .headerTitleLg {
    text-align: center;

    font-size: 16px;
  }
  .SideCard {
width: 100%;  }
}
