 
.posts {
    flex: 9;
   display: grid;
   justify-content: center;

  grid-template-columns: repeat(
    auto-fill,
    minmax(390px, 420px)
  ); /* see notes below */
  grid-gap: 10px;
}


@media only screen and (max-width: 690px) {
  .posts {
    
   display: grid;
   justify-content: center;

  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 600px)
  ); /* see notes below */
  grid-gap: 10px;
}

}