.post {
  width: 100%;
  margin: 0px 25px 40px 25px;
}
a{
  text-decoration: none;

}
.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCat {
  font-family: serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  color: teal;
  cursor: pointer ;
  text-align: center;
}
.postDate {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 11px;
}
.postDescription {
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin:10px;
  margin-right: 5px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
}
 a{
  cursor: pointer;

 }