.sideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: red;
}

.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;

}
.sideBarItem > img {
  margin-top: 15px;
  width: 80%;
}
.sideBarItem > p {
  padding: 30px;
  text-align: justify;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
 }

.sideBarListItem {
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sideBarSocial{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.sideBarIcon{
    font-style: 16px;
    margin-left: 10px;
    cursor: pointer;
}